html, body {
    padding: 0;
    margin: 0 auto;
    font: 400 1.05em/1.8 var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    flex-direction: column;
    overscroll-behavior: none;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* No bold headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

/* Line spacing */
p, li {
    line-height: 1.6;
}

/* Anchor colours */
a {
    color: var(--text-color-link);
}
a:visited {
    color: var(--text-color-link-visited);
}
a:hover, a:active {
    color: var(--text-color-link-active);
}

/* Boxicons */
.boxicon {
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    top: -1px;
    fill: var(--text-color);
}

main {
    padding: 0 2em;
}