/* Defaults */
:root {

    /* Define the colour schemes */
    color-scheme: light dark;

    /* Fonts */
    --font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;

    /* Layout */
    --content-width: 60em;

    /* Break point for mobile */
    --mobile-breakpoint: 600px;
}

/* Theme colors */
:root {
    --background-color: #e5e6e9;
    --background-color-alt: #efefef;
    
    --color-gray-low: #e4e1ec;
    --color-gray-medium: #C0C0C0;
    --color-gray-high: #333;

    --text-color: var(--color-gray-high);
    --text-color-link: #1493fb;
    --text-color-link-active: #6969f7;
    --text-color-link-visited: #17050F;

    --syntax-tab-size: 4;

    --logo: url('/img/long-foxdog.png');
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #1d1d20;
        --background-color-alt: #161618;

        --color-gray-low: #4e4e4e;
        --color-gray-medium: #888888;
        --color-gray-high: #e4e1ec;

        --text-color: var(--color-gray-high);
        --text-color-link: #1493fb;
        --text-color-link-active: #6969f7;
        --text-color-link-visited: #a6a6f8;

        --logo: url('/img/long-foxdog-white.png');
    }
}
