section.footnotes {
  margin-top: 2em !important;
  border-top: 1px solid var(--color-gray-medium);
  padding-top: 2em;
}

hr.footnotes-sep {
  display: none !important;
}

[role="doc-noteref"]::after {
  counter-increment: footnotes;
  content: '[' counter(footnotes) ']';
  vertical-align: super;
  font-size: 80%;
}

.footnote__ref {
  text-decoration: none;
  border-bottom: 1px dotted var(--text-color);
  color: var(--text-color) !important;
}

ol.footnotes-list {
  font-size: 0.8em;
}

li.footnote-item {
  margin: 0.8em 0;
}
