/* Defaults */
:root {
    color-scheme: light dark;
    --font-family: -apple-system, system-ui, sans-serif;
    --font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
:root {
    --background-color: #fff;
    --background-color-alt: #c7c7c7;
    
    --color-gray-low: #e0e0e0;
    --color-gray-medium: #C0C0C0;
    --color-gray-high: #333;

    --text-color: var(--color-gray-high);
    --text-color-link: #1493fb;
    --text-color-link-active: #6969f7;
    --text-color-link-visited: #17050F;

    --syntax-tab-size: 4;

    --logo: url('/img/long-foxdog.png');
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #393939;
        --background-color-alt: #262626;

        --color-gray-low: #4e4e4e;
        --color-gray-medium: #888888;
        --color-gray-high: #eaeaea;

        --text-color-link: #1493fb;
        --text-color-link-active: #6969f7;
        --text-color-link-visited: #a6a6f8;

        --logo: url('/img/long-foxdog-white.png');
    }
}


/* Global stylesheet */
* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0 auto;
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/* Last paragraph has no spacing underneath */
p:last-child {
    margin-bottom: 0;
}

/* Line spacing */
p, li {
    line-height: 1.5;
}

/* Anchor colours */
a[href] {
    color: var(--text-color-link);
}
a[href]:visited {
    color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
    color: var(--text-color-link-active);
}

main, footer.main {
    max-width: 60em;
    padding: 2rem 1rem 1rem 1rem;
    margin: auto;
    position: relative;
}
main :first-child {
    margin-top: 0;
}

header {
    background-color: var(--background-color-alt);
}


/* Header */
.home-link {
    flex-grow: 1;
    font-size: 1em; /* 16px /16 */
    font-weight: 700;
}
.home-link:link:not(:hover) {
    text-decoration: none;
}
header > .header {
    height: 5em;
    max-width: 60em;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.logo {
    background-image: var(--logo);
    background-size: contain;
    width: 100px;
    height: 20px;
}

/* Nav */
.nav {
    display: flex;
    gap: .5em 1em;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: var(--font-family-monospace);
}
.nav-item {
    display: inline-block;
}
.nav-item a {
    text-decoration: none;
    color: var(--text-color) !important;
}
.nav-item a[href]:hover {
    text-decoration: none;
}
.nav a[href][aria-current="page"] {
    border-bottom: 2px solid var(--text-color);
}

/* Next/Prev links under posts */
.links-nextprev {
    display: flex;
    justify-content: space-between;
    gap: .5em 1em;
    list-style: "";
    margin-top: 3em;
    border-top: 1px dotted var(--color-gray-medium);
    padding: 1em 0;
}
.links-nextprev > * {
    flex-grow: 1;
}
.links-nextprev-next {
    text-align: right;
}

/* Tables */
table {
    margin: 1em 0;
}
table td,
table th {
    padding-right: 1em;
}

/* Code, inline and blocks */
pre, code {
    font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
    margin: .5em 0;
    line-height: 1.375; /* 22px /16 */
    -moz-tab-size: var(--syntax-tab-size);
    -o-tab-size: var(--syntax-tab-size);
    tab-size: var(--syntax-tab-size);
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    overflow-x: auto;
}
code {
    word-break: break-all;
}

/* Posts list */
.postlist {
    list-style: none;
    padding: 0;
    padding-left: 1.5rem;
}
.postlist-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    counter-increment: start-from -1;
    margin-bottom: 1em;
}
.postlist-item:before {
    display: inline-block;
    pointer-events: none;
    font-family: var(--font-family-monospace);
    content: "" counter(start-from, decimal-leading-zero) ". ";
    line-height: 100%;
    text-align: right;
    margin-left: -1.6rem;
}
.postlist-date,
.postlist-item:before {
    font-size: 0.8125em; /* 13px /16 */
    margin-top: 0.75em;
}
.postlist-link {
    font-size: 1.1875em; /* 19px /16 */
    font-weight: 700;
    flex-basis: calc(100% - 1.5rem);
    padding-left: .25em;
    padding-right: .5em;
    text-underline-position: from-font;
    text-underline-offset: 0;
    text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
    font-weight: bold;
}
.postlist-desc {
    display: block;
    width: 100%;
}

/* Tags */
.post-tag {
    font-family: var(--font-family-monospace);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: lowercase;
    font-style: italic;
}
.postlist-item > .post-tag {
    align-self: center;
}

/* Post Metadata List */
.post-metadata {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1em;
    list-style: none !important;
    padding: 0;
    margin: 0;
}

/* mobile-width, swap to rows for post metadata items */
@media (max-width: 600px) {
    .post-metadata {
        flex-direction: column;
    }
    .post-metadata > li {
        overflow-x: auto;
    }
}

.post-metadata > li {
    margin-right: 0.5em;
    white-space: nowrap;
}
.post-metadata ul.tags {
    gap: .5em;
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Boxicons */
.boxicon {
    display: inline-flex;
    vertical-align: middle;
    fill: var(--text-color);
}

.post-content {
    margin-top: 1em;
}
.post-content img, .post-content picture, .post-content svg, .post-content figure {
    height: auto;
    display: block;
    max-width: 100% !important;
    position: relative;
    margin: 0 auto;
    padding: 0.6em 0;
}

.post-content figure figcaption {
    font-style: italic;
    font-size: 0.85rem;
    text-align: center;
    color: var(--color-gray-medium);
}

/* Override SVG sizing */
.post-content svg {
    height: auto !important;
    max-width: 100%;
}
.post-content img.invert-dark {
    filter: grayscale(100%) opacity(80%);
}

@media (prefers-color-scheme: dark) {
    .post-content img.invert-dark {
        filter: grayscale(100%) invert() opacity(80%) !important;
    }
}
