<style type="text/css">

  .root {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 80px;
    flex-direction: column;
    background: #B88035;
    background: radial-gradient(at left top, #754e1bff, #100E0D);
}

  .text-row {
    display: flex;
    flex-grow: 1;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 800px;
  }

  .blep {
    position: absolute;
    bottom: 0;
    right: 50px;
    display: flex;
  }

  svg {
    width: 200px;
    height: 200px;
  }

  svg > path {
    fill: #fff;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 15px;
  }

  h2 {
    font-size: 25px;
    margin: 0;
  }


</style>

<div class="root">
  <div class="text-row">
    <h1>{{ (title or metadata.title) | safe }}</h1>
    <h2>{{ (description or metadata.description) | safe }}</h2>
  </div>
  <div class="blep">
    {% include "blep.njk" %}
  </div>
</div>