/**
 * Post-specific styles.
 */

:root {
    --toc-max-width: 20em;
}

/* Post header, contains the title, post-metadata and has a background that may be a hero image */
section.post-header {

    height: 20em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .contained {
        margin: auto;
    }

    .cover {
        width: 100%;
        height: 100%;
        color: #e4e1ec;
        display: flex;
        justify-content: flex-start;
        text-align: center;
        padding: 0 1em;
    
        &.has-image {
            backdrop-filter: blur(7px);
            background: rgba(0, 0, 0, 0.35);
        }
    }

    h1 {
        font-size: 2em;
        margin-bottom: 1em;
    }

    a {
        color: #e4e1ec;
    }

    /* Post Metadata List */
    .post-metadata {
        display: flex;
        font-size: 0.8em;
        justify-content: center;
        gap: 1em;
        list-style: none !important;
        padding: 0;

        .boxicon {
            width: 1.2em;
            fill: #e4e1ec;
        }

        li {
            margin-right: 0.5em;
            white-space: nowrap;
        }
    }

    /* mobile-width, swap to rows for post metadata items */
    @media (max-width: 600px) {
        .post-metadata {
            flex-direction: column;
        }
        .post-metadata > li {
            overflow-x: auto;
        }
    }
}

/* The post page has a special 3-column layout on desktop */
.post-cols {
    display: grid;
    grid-template-columns: 1fr var(--content-width) 1fr;
    gap: 2em;
    margin-top: 2em;

    .left, .right {
        max-width: var(--toc-max-width);
    }
}

@media (max-width: 110em) {
    .post-cols {
        grid-template-columns: 1fr;
        gap: 0;
        
        .left, .right {
            display: none;
        }
    }
}


/**
 * TOC
 */
aside.toc {
    position: sticky;
    top: 2em;
    left: calc(50% + (var(--col-width) / 2));
    border-left: 2px solid var(--color-gray-medium);
    opacity: 40%;
    font-size: 0.8em;
    ul {
        list-style: none;
    }
    a {
        color: var(--text-color);
    }
}

aside.toc:hover {
    opacity: 100%;
}

/**
 * Post content.
 */
article {

    max-width: var(--content-width);
    width: calc(100vw - 4em);
    margin: 0 auto;

    h1, h2, h3, h4, h5 {
        margin-top: 1.5em;
    }

    > img, > picture, > svg, > figure, > figure > img, > .diagram {
        height: auto;
        display: block;
        max-width: 100% !important;
        margin: 1.5em auto;
        padding: 0.6em 0;
    }

    figure, figcaption {
        font-style: italic;
        font-size: 0.85rem;
        text-align: center;
        color: var(--color-gray-high);
    }

    /* Code - as inline and blocks */
    pre {
        overflow-x: auto !important;
        margin-top: 2em !important;
        font-family: var(--font-family-monospace);
        :not([class*="language-"]) {
            line-height: 1.375; /* 22px /16 */
            -moz-tab-size: var(--syntax-tab-size);
            -o-tab-size: var(--syntax-tab-size);
            tab-size: var(--syntax-tab-size);
            -webkit-hyphens: none;
            -ms-hyphens: none;
            hyphens: none;
            direction: ltr;
            text-align: left;
            white-space: pre;
            word-spacing: normal;
            word-break: normal;
            overflow-x: auto;
        }
    }

    video {
        margin-top: 2em !important;
        max-width: 100%;
        height: auto;
    }

    blockquote {
        border-left: 1em solid var(--color-gray-medium);
        color: var(--color-gray-high);
        padding-left: 1em;
        font-style: italic;
        margin: 1.5em 0;
    }

    p, li, td {
        code {
            white-space: nowrap;
            background-color: var(--background-color-alt);
            padding: 0.1em 0.4em;
            border: 0.5px solid var(--color-gray-medium);
            border-radius: 0.25em;
        }
    }

    .overline {
        text-decoration: overline;
        text-decoration-thickness: 2px;
    }

    /* Override SVG sizing */
    svg {
        height: auto !important;
        max-width: 100%;
    }
    img.invert-dark {
        filter: grayscale(100%) opacity(80%);
    }
    @media (prefers-color-scheme: dark) {
        img.invert-dark {
            filter: grayscale(100%) invert() opacity(80%) !important;
        }
    }   

    /* Notes */
    .note {
        background-color: var(--color-gray-low);
        border-radius: 0.5em;
        padding: 1em;
        border-left: 6px solid var(--color-gray-medium);
        margin: 1em 0;
    }

    /* Diagrams - which always have a white background for clarity */
    .diagram {
        background: #fff;
        border-radius: 0.5em;
        position: relative;

        img, picture, svg, figure {
            margin: auto;
        }

        .repo-link {
            display: none;
            position: absolute;
            right: 10px;
            top: 10px;
            width: 30px;
            height: 30px;
            line-height: 27px;
            border-radius: 50%;
            text-align: center;
            background-color: #fff;
            border: 1px solid var(--color-gray-medium);
            svg {
                fill: var(--color-gray-medium) !important;
            }
            &:hover {
                svg {
                    fill: var(--text-color-link) !important;
                }
            }
        }

        &:hover {
            .repo-link {
                display: block;
            }
        }
    }

    /* Tables */
    table {
        margin: 1.5em auto;
        border-collapse: collapse;
        background-color: var(--background-color-alt);
        text-align: left;
        tr {
            th, td {
                padding: 0.2em 1em;
            }

            th {
                border-bottom: 1px solid var(--color-gray-medium);
            }
        }

        tr:nth-child(odd) {
            background-color: var(--background-color);
        }
    }

}

/** 
 * Footnotes
 */

section.footnotes {
    margin-top: 2em !important;
    border-top: 1px dotted var(--color-gray-medium);
    padding-top: 1em;

    ol {
        font-size: 0.8em;
        li {
            margin: 0.8em 0;
        }
    }
}

/* Hide the annoying <hr> that the footnotes plugin emits */
hr.footnotes-sep {
  display: none !important;
}

/* Inline footnote numbers like [1] */
sup.footnote-ref > a {
  text-decoration: none;
  color: var(--text-color-link) !important;
}

/**
 * Inter-post nav
 */

.links-nextprev {
    display: flex;
    justify-content: space-between;
    gap: .5em 1em;
    list-style: "";
    margin-top: 2em;
    border-top: 1px dotted var(--color-gray-medium);
    padding: 1em 0;
}
.links-nextprev > * {
    flex-grow: 1;
}
.links-nextprev-next {
    text-align: right;
}