<!doctype html>
<html lang="{{ metadata.language }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title or metadata.title }}</title>
        <meta name="description" content="{{ description or metadata.description }}">
        <link rel="me" href="https://furry.engineer/@ret">
        <link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
        <meta name="generator" content="{{ eleventy.generator }}">

        {#- Render the CSS bundle using inlined CSS (for the fastest site performance in production) #}
        {%- css %}{% include "public/css/index.css" %}{% endcss %}
        <style>{% getBundle "css" %}</style>

        {#- Open Graph stuff #}
        <meta property="og:url" content="{{ metadata.url }}{{ page.url }}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ title or metadata.title }}">
        <meta property="og:description" content="{{ description or metadata.description }}">
        <meta name="fediverse:creator" content="@ret@furry.engineer">
        <meta name="twitter:card" content="summary_large_image">
        {% ogImage "../_includes/og-image.njk", { 
            title: title or metadata.title,
            description: description or metadata.description
        } %}
        
    </head>
    <body>
        <a href="#skip" class="visually-hidden">Skip to main content</a>
        <header>
            <div class="header">
                <a href="/" class="home-link">
                    <div class="logo">
                        <span class="visually-hidden">FOXDOG</span>
                    </div>
                </a>
                <nav>
                    <h2 class="visually-hidden">Top level navigation menu</h2>
                    <ul class="nav">
                    {%- for entry in collections.all | eleventyNavigation %}
                        <li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
                    {%- endfor %}
                    </ul>
                </nav>
            </div>
        </header>

        <main id="skip">
            {{ content | safe }}
        </main>

        <footer class="main"></footer>

        <!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
        <script type="module" src="{% getBundleFileUrl "js" %}"></script>
    </body>
</html>
