---
layout: layouts/base.njk
---

{# Syntax highlighting/diffing #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "style/pages/post/prism-diff.css" %}{%- endcss %}

{# Post-specific styles #}
{%- css %}{% include "style/pages/post.css" %}{%- endcss %}

<section class="post-header"  style="background-color: {{ accent | default('black') }}; background-image: url({{ hero_image | imageUrl() }})">
    
    <div class="cover {% if hero_image %}has-image{% endif %}">

        <div class="contained">

            <h1>{{ title }}</h1>

            {% if (tags | filterTagList).length > 0 %}
            <ul class="post-tags">
                {%- for tag in tags | filterTagList %}
                {%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
                <li>
                    <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
                </li>
                {%- endfor %}
            </ul>
            {% endif %}

            <ul class="post-metadata">

                <li>
                    {% boxicon "calendar-alt" %}
                    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
                </li>

                <li class="right">
                    {% boxicon "github", "logos" %}
                    <a href="{{ metadata.repo }}/{{ page.inputPath }}" target="_blank">Source</a>
                </li>

            </ul>

        </div>

    </div>

    

</section>

<div class="post-cols">

    <div class="left">
        &nbsp;
    </div>

    {# Content #}
    <article class="post">
        {{ content | safe }}
    </article>

    <div class="right">
        {# Table of Contents #}
        <aside class="toc">
        {{ content | toc | safe }}
        </aside>
    </div>

</div>

{# Next/prev #}
{%- if collections.posts %}
<div class="contained">
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
    {%- if previousPost %}<li class="links-nextprev-prev">← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
    {%- if nextPost %}<li class="links-nextprev-next">Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
</div>
{%- endif %}
