---
layout: layouts/base.njk
---

{# Syntax highlighting/diffing #}
{%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %}
{%- css %}{% include "style/pages/post/prism-diff.css" %}{%- endcss %}

{# Post-specific styles #}
{%- css %}{% include "style/pages/post.css" %}{%- endcss %}

{% set bgimage = '/img/folfy-header-bg.jpg' %}

{% if hero_image %}
    {% set bgimage = hero_image | imageUrl() %}
{% endif %}

<section class="post-header" style="background-color: {{ accent | default('#000000') }}; background-image: url({{ bgimage }})">
    
    <div class="cover {% if hero_image %}has-image{% endif %}">

        <div class="contained">

            <h1>{{ title }}</h1>

            {% include "taglist.njk" %}

            <ul class="post-metadata">

                <li>
                    {% boxicon "calendar-alt" %}
                    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
                </li>

                <li class="right">
                    {% boxicon "github", "logos" %}
                    <a href="{{ metadata.repo }}/{{ page.inputPath }}?plain=1" target="_blank">Source</a>
                </li>

            </ul>

        </div>

    </div>

</section>

<main>
    <div class="post-cols">

        <div class="left">
            &nbsp;
        </div>

        {# Content #}
        <article class="post">
            {{ content | safe }}
        </article>

        <div class="right">
            {# Table of Contents #}
            <aside class="toc">
            {{ content | toc | safe }}
            </aside>
        </div>

    </div>

{# Next/prev #}
{%- if collections.posts %}
<div class="contained">
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
    {%- if previousPost %}<li class="links-nextprev-prev">← Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
    {%- if nextPost %}<li class="links-nextprev-next">Next →<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
</div>
{%- endif %}

</main>